<footer>
    <div class="container text-center py-3 mt-4">
        <nav role="navigation" aria-label="Footer Navigation">
            <ul class="d-flex justify-content-center list-unstyled gap-4">
                <li>
                    <a routerLink="/home" >Home</a>
                </li>
                <li>
                    <a routerLink="/rooms">Rooms</a>
                </li>
                <li>
                    <a routerLink="/hotels">Hotels</a>
                </li>
                <li>
                    <a routerLink="/bookedRoom">Booked rooms</a>
                </li>
            </ul>
        </nav>
        <p>© 2023 created by Davit Kushashvili</p>
    </div>
</footer>
